[flake8]
format = ${red_bold}%(path)s: ${blue_bold}%(row)d:${green_bold}%(col)d ${purple_bold}%(code)s${reset} %(text)s
statistics = True
inline-quotes = double

per-file-ignores =
  # I need to use assert in tests.
  tests.py: S101

extend-ignore =
  # Black styling
  WPS348 # lines starting with dots
  C812 # trailing commas
  # Personal preferences
  WPS305 # f-strings
  # Stuff I don't use
  I # isort
