html {
  --color-1: #fff900;
  --color-2: #ff5b00;
}
@keyframes fall {
  0% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
h1,
h3 {
  font-family: Quicksand;
  display: inline-block;
  border-radius: 0.15em;
}
h1 {
  background: #fff2;
  font-size: min(200px, 12vmin);
  padding: calc(1em / 3);
  margin-block-start: 0.6em;
  margin-block-end: 0.3em;
  animation: 1.5s fall;
  transform: rotate(10deg);
}
h3 {
  background: #fff3;
  padding: 0.5em;
}
button {
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  height: 125px;
  width: 200px;
  font-size: 1.1em;
  border: none;
  background: #fff2;
}
