header {
  background: #fff6;
  padding: 8px 12px;
  margin: 0 0 8px 0;
  top: -8px;
  width: 100%;
  float: left;
  position: relative;
}
main:not(#mainLayout) {
  width: 100%;
  height: calc(100vh - 7rem);
  position: relative;
}
main[hidden] {
  display: none;
}
.close-button {
  position: absolute;
  right: 5px;
  top: 1.67rem;
  height: 2rem;
  width: 2rem;
  font-size: 18px;
}
/* Main layout */
button {
  background: #fff6;
  border: none;
  cursor: pointer;
}
.scan-button {
  width: 160px;
  height: 90px;
  font-size: 1em;
}
.chat-button {
  width: 4em;
  height: 4em;
  border-radius: 100%;
  background: #0006;
  color: white;
  position: absolute;
  right: 1em;
  bottom: 1em;
}
.chat-button .material-icons {
  position: relative;
  top: 0.1em;
}
/* Scan layout */
video {
  max-width: 100%;
  background: #fff3;
}
/* Chat layout */
#chatBox {
  background: #fff6;
  border: none;
}
#sendChatUI {
  position: absolute;
  bottom: 0;
}
#sendChatUI * {
  padding: 5px;
}
/* Background music styling */
audio {
  margin: 20px auto;
  display: block;
}
.material-icons {
  vertical-align: text-top;
  user-select: none;
}
.audioControls {
  background: #0002;
  position: absolute;
  display: inline-block;
  height: 24px;
  padding: 8px;
  left: 0;
  bottom: 0;
  text-align: center;
  color: white;
}
.audioControls span {
  cursor: pointer;
  background: #0002;
  color: white;
}
.audioControlMenu {
  background: #fff2;
  padding: 25px;
  width: min(700px, 80vw);
  height: min(450px, 80vh);
  display: none;
  border-radius: 5px;
}
