@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
html {
  --color-1: #4f00ff;
  --color-2: #00ffdb;
  background: linear-gradient(-45deg, var(--color-1), var(--color-2));
  height: 100%;
}
* {
  font-family: Open Sans;
}
.center {
  text-align: center;
}
