/* Landing styles */
body {
  min-height: calc(100vh - 16px);
}
h1.big,
h3.big {
  font-family: Quicksand;
  display: inline-block;
  border-radius: 0.15em;
}
h1.big {
  background: #fff2;
  font-size: min(300px, 20vmin);
  padding: calc(1em / 3);
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}
h3.big {
  background: #fff3;
  padding: 0.5em;
}
button {
  vertical-align: middle;
  cursor: pointer;
  margin: 10px;
  padding: 10px;
  height: 200px;
  width: 125px;
  font-size: 1.1em;
  border: none;
  border-radius: 3px;
  background: #fff2;
}
/* Background music styling */
audio {
  margin: 20px auto;
  display: block;
}
.material-icons {
  vertical-align: text-top;
}
.audioControls {
  background: #0002;
  position: absolute;
  display: inline-block;
  height: 24px;
  padding: 8px;
  right: 0;
  bottom: 0;
  text-align: center;
  color: white;
}
.audioControls span {
  cursor: pointer;
  background: #0002;
  color: white;
}
.audioControlMenu {
  background: #fff2;
  padding: 25px;
  width: min(700px, 80vw);
  height: min(450px, 80vh);
  display: none;
  border-radius: 5px;
}
